<link rel="stylesheet" href="/css/bootstrap.min.css">
<%- include('head') %>
<style>
    .table-box {
        width: 700px;
        float: left;
        height: 600px;
        margin: 50px;
    }
    table{
        margin: 30px auto;
        width: 500px;
        text-align: center;
        border-collapse:collapse;
        color:#000000;
    }
    tr th,tr td{
        border: 1px solid gainsboro;
    }
    th{
        text-align: center;
    }
</style>
<div class="table-box">
    <table>
        <tr>
            <th>帖子id</th>
            <th>版块id</th>
            <th>帖子主题名</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        <% for(var i=0;i<info.length;i++) {%>
        <tr class="tr">
            <td><%= info[i].note_id %></td>
            <td><%= info[i].id %></td>
            <td><%= info[i].note_name %></td>
            <td><a href="/admin/updatenote/<%= info[i].note_id%>">修改</a></td>
            <td><a href="/admin/deletenote/<%= info[i].note_id%>">删除</a></td>
        </tr>
        <%}%>
    </table>
    <div style="width:500px;margin-left: 120px;">
        <ul class="pagination" id="pagination1"></ul>
    </div>
</div>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/jqPaginator.js"></script>
<script>
    $(function(){
        $.jqPaginator("#pagination1", {
            totalPages: 10,
            visiblePages: 5,
            currentPage: 1,
            onPageChange: function (num, type) {
                if(type=='change'){
                    $.ajax({
                        url:'/admin/noteInfo1',
                        type:'post',
                        data:{num:num},
                        timeout:5000,
                        dataType:'json',
                        success:function(data,textStatus,jqXHR){
                            console.log(data);
                            $(".tr").remove();
                            for(var i=0;i<data.length;i++){
                                var tr = 	$("<tr class='tr'></tr>");
                                $("<td></td>").text(data[i].note_id).appendTo(tr);
                                $("<td></td>").text(data[i].id).appendTo(tr);
                                $("<td></td>").text(data[i].note_name).appendTo(tr);
                                $("<td></td>").html("<a href='/admin/updatenote/"+data[i].note_id+"'>修改</a>").appendTo(tr);
                                $("<td></td>").html("<a href='/admin/deletenote/"+data[i].note_id+"'>删除</a>").appendTo(tr);
                                $("table").append(tr);
                            }
                        }
                    })
                }

            }
        })
    })
</script>