<%- include('head') %>
<style>
    .table-box{
        width: 300px;
        float: left;
        height: 600px;
        margin: 50px 150px ;
    }
    *{
        margin: 0 auto;
        padding: 0;
    }
    table{
        width: 500px;
        text-align: center;
        border-collapse: collapse;
    }
    table tr th,tr td{
        color:#000000;
        border:1px solid #d9e0ee;
    }
</style>
<div class="table-box">
        <table>
            <tr>
                <th>用户id</th>
                <th>用户名</th>
                <th>密码</th>
                <th>修改</th>
                <th>删除</th>
            </tr>
            <% for(var i=0;i<useinfo.length;i++) {%>
            <tr>
                <td><%= useinfo[i].use_id %></td>
                <td><%= useinfo[i].use_name%></td>
                <td><%= useinfo[i].use_password %></td>
                <td><a href="/admin/updateuse/<%= useinfo[i].use_id %>">修改</a></td>
                <td><a href="/admin/deleteuse/<%= useinfo[i].use_id %>">删除</a></td>
            </tr>
            <%}%>
        </table>
</div>
